body{
	background-color: #CCCCCC; margin: 0;
	font-family:Arial, Helvetica, sans-serif;
}
.main{
	margin: auto;
	border: #ff0000 dotted 1px;
	padding: 0px;
	width: 1000px;
}
.banner{
	margin: auto;
	padding: 0px;
}
.menu{
	background-image: url(../img/menu_bg.png);
	background-repeat: repeat; height: 35px;
}
.menu a{
	text-decoration: none;
	color: #fff;
	font-size: 13px;
	width: 120px;
	float: left;
	text-align: center;
	margin: 0;	
	padding: 10px 0px 10px 0px;
}
.menu a:hover{
	font-weight: bold; 
	color: #ff0;
	background-color: #f00;
}
.clear{
	clear: bold;
}
.trai{
	background: url(../img/header.png);
	background-repeat: no-repeat;
	background-position: center 10px;
	background-color: #fff;
	border: 1px solid #888888;
	float: left;
	margin-top: 5px;
	width: 220px;
	padding: 0px;
	min-height: 1135px;
}
.trai h3{
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	vertical-align: top;
	font-size: 16px;
	color: #006699;
}
.trai ul{
	list-style: square;
}
.trai ul>li{
	text-transform: uppercase;
	font-weight: 900px;
	padding: 5px;
}
.trai ul>li>ul{
	list-style: square;
}
.trai ul>li>ul>li{
	list-style: uppercase;
	font-weight: normal;
}
.trai ul>li>a{
	text-decoration: none;
	font-size: 15px;
	color: #006699;
}
.trai ul>li>a:hover{
	color: #ff0000;
	text-decoration: none;
	font: message-box;
}
.phai{
	float: left;
	margin: 5px; 
	width: 740px;
}
.slide{
	width: 700px;

}
.sanpham{
	margin: 0px;
}
.sanpham h1{
	font-variant: small-caps;
	display: block;
	font-size: 20px;
	color: #000066;
	margin: auto;
	margin-left: 10px;
}
.box_san_pham{
	width: 195px;
	background: #fff;
	float: left;
	margin: 10px 20px ;
	text-align: center;
	padding: 5px 5px;
}
.ao_len_co_cao{
	font-size: 14;
	margin: 0px;

}
.gia{
	font-size: 15px;
	font-weigth: bold;
}
.foooter{
	background-color: white;
}
.menucuoi {
	height: 38px;
	line-height: 38px;
	font-size: 14;
	text-transform: uppercase;
	font-weight: bold;
	/* background-color: white; */

}
/* .menucuoi a{
	text-align: center;
	float: right;
	width: 2px;

} */
.menucuoi a:hover{
	/* float: right; */
	color: aqua ;
	text-align: right ;
	background-color: whiter;
}
.footer p{
	text-align: center;
}