*{
  list-style: none;
}
p{
    margin: 0px !important;
}
.header--home{
  color: grey;
  opacity: 0.8;
}

a, a:hover{
  text-decoration: none;
  background-color: transparent;
  color: black;
}



.header{
  /* display: inline; */
  /* margin: 0px !important; */
  background: url(../img/background.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
}
@media screen and (min-width: 600px) {
  .header--btn{
    padding: 20px 60px;
    background-color: #4b4b4b;
    color:white !important;
    /* width: px; */
    
  }
}
@media screen and (max-width: 600px) {
  .header--btn{
    padding: 20px 60px;
    background-color: white;
    color:black !important;
    /* width: px; */
    
  }
}

span.fas.fa-home.header--btn {
  background-color: #A3C331;
  color: white;
}

::before {
  color: white;
}

.header .nav-item a:hover,.header   nav-item i:hover{
  background-color: #A3C331 ;
  transition: .2s;
}

.center{
  margin: auto;
  /* height: 400px; */
  width: 900px ;
}

.icon .fas .fa-home{
  /* padding: 24px 20px; */
  background-color: #4b4b4b;
    color:white;;
}
.noidung--logo{
  /* width: 100%; */
  margin-top: 70px;

}
.noidung--logo img{
  margin-top: 100px;
  width: 150px;
  height: auto;
  /* margin: auto; */
  display:block;
  margin:auto;
}
/* li + li{
  margin: 0px;
} */
.noidung--slogan{
  color: white;
}
.card2{
    background-color: #F6F6F6;
    /* margin-left: 20px ;
    margin-right: 20px; */
    height: 300px;
  }
  .ecard{
    width: 200px;
    /* height: 400px; */
    font-size: 12px;
    /* border: 1px red solid; */
    transform: translateY(-144px);
    /* transform: translateY(-299px); */
    /* display: block; */


  }

  .ecard--top{
    background-color: hsl(73, 59%, 49%);
    /* margin: 0px !important; */
    /* position: ; */
  }

  .ecard--logo {
    background-color: black;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin: auto;
    /* position: absolute; */
  }
  .ecard--logo i{
    margin: 0px;
    /* width: 20px; */
    /* position: relative; */
    color: white;
    /* transform: translateY(-px); */
  }

  .ecard--bot{
    background-color: #FFFFFF;
    /* margin: 0px !important; */
  }
  .ecard--logo i:hover{
    background-color: transparent;
  }
  .ecard-btn :hover{
    /* background-color: #A3C331; */
    opacity: 0.8;
  }

  .ecard-btn i{
    /* padding-right: 5px;
    padding-left: 5px; */
    padding: 5px;
    border-radius: 49%;
    transition: 0.4s;
    background-color: #A3C331;
  }

  *{
    transition: 0.2s;
  }

  .ecard:hover{
    /* background-color: black */
    opacity: 0.8;
  }
  .header :hover , .card3 :hover{
    opacity: 1.2;
    transform: scale(1.01);
  }

  .card3 *{
    /* border: 1px solid red; */
  }

  .card3{
      /*  */
      transform: translateY(-50%);
  }

  .card3--info{
    /* border: 1px solid orange; */
  }

  .card3--noidung {
    /* height: 100%; */
    
    padding-top: 40px;
    /* width: 50%; */
  }


  .card3--btn{
    background-color: #A6C634;
  }

  .card3--btn i{
    color: white;
    font-size: 60px;
    /* margin-top: auto;
    margin-bottom: auto; */
    height: 100%;
    /* margin: auto; */
    padding-top: 33px;
    padding-bottom: 33px;
  }
  
  .card3--info{
      background-color: #4D4D4D;
      color: white;
      font-style: oblique;
  }
  card3--p1 p, card3--p2 p{
      margin-bottom: 0px !important;
  }

  .welcome {
    height: 400px;
  }
  .welcome .slogan h3 , .welcome .slogan h4{
      text-transform: uppercase;
  }


  .welcome .slogan .img{
      width: 200px;
  }

  .info .top--slogan  {
    background-color: #ececec;
    
  }

  

  .right-1 .top{
    text-align: left;
    background-color: #A6C634;
    padding: 10px 40px;
    /* font-weight: 0px; */
    
  }


 

  .right-2 .top{
    text-align: left;
    background-color: #4C4C4C;
    padding: 10px 40px;
    /* font-weight: 0px; */
    
  }


  li.top--slogan.row {
    margin: 0px 0px 10px 0px;
}

.about-us{
  height: 313px;
  background: url(../img/meeting.jpg);
  opacity: 0.8;
  background-size: cover;
  width: 100%;
  /* position: relative; */
}


.about-us--tab{
  width: 900px;
  margin: auto;
  /* padding:  calc((100% - 96px )/2); */
  padding: 109px
}


.about-us--tab .logo{
  padding-top: ; 
  padding-bottom: ;
  font-size: 50px;
  float: left;
  /* width: 900px; */
}


.about-us--tab .logo .logo2 i{
  height: 50px;
  width: 50px;
}

.about-us--tab .logo .logo1{
  background-color: #A5C72B;
  padding: 20px;
  border-radius: 49%;
  /* position: relative; */
  transform: translateX(30px);

}

.about-us--tab .logo .logo2{
  background-color: #4C4C4C;
  padding: 20px;
  /* position: absolute; */

  border-radius: 49%;
}

.submit{
  margin: 20px;
  font-size: 15px;


}

h3{
  text-transform: uppercase;
}

.submit .submit--mail i{
  font-size: 30px;
  color: #A4C432 !important;
  /* margin-top: 10px; */
  /* padding-top: 10px; */
  display: flex;
}
.submit .submit--mail i::before {
  color: #b7d255 !important;
}

.form-input {
    width: 318px !important;
}

.inline{
  display: inline;
}


.footer{
  /* height: 331px; */

  background: #464646;
  background-size: cover;

}

.card {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: $card-bg;
  background-clip: border-box;
  border: $card-border-width solid $card-border-color;
  @include border-radius($card-border-radius);

  > hr {
    margin-right: 0;
    margin-left: 0;
  }

  > .list-group:first-child {
    .list-group-item:first-child {
      @include border-top-radius($card-border-radius);
    }
  }

  > .list-group:last-child {
    .list-group-item:last-child {
      @include border-bottom-radius($card-border-radius);
    }
  }
}

.card-body {
  // Enable `flex-grow: 1` for decks and groups so that card blocks take up
  // as much space as possible, ensuring footers are aligned to the bottom.
  flex: 1 1 auto;
  padding: $card-spacer-x;
}

li.top--slogan.row {
  font-size: 12px;
}

li:hover.top--slogan.row {
  font-size: 12.5px;
  /* background: opacity: 1.1; ; */
  
}

element.style {
}
i.col-lg-2.fas.fa-chevron-right {
    color: #9FC12F;
}

li.top--slogan.row {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 3px;
  color: black;
}

a.col-lg-10.font-weight-bold {
  color: black;
  /* colot: black; */
}

a{
  color: white;
}

.footer--info{
  width: 900px;
  margin: auto;
  /* margin-top: 20px; */
}

.footer--info ul li {
  margin-bottom: 10px;
}
 